In [1]:
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules
import pyfpgrowth
from mlxtend.preprocessing import TransactionEncoder

/usr/lib/python3/dist-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
df = pd.read_excel('./Datasets/Online Retail.xlsx', engine='openpyxl')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [4]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [5]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [6]:
df.tail()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

**We only need InvoiceNo with no cancellation and StockCode for each transaction.**

In [7]:
# Assuming your dataframe is named df
grouped_df = df.groupby('InvoiceNo').agg({'Description': lambda x: list(x)}).reset_index()

# If you want to prefix "T" to each InvoiceNo
grouped_df['InvoiceNo'] = 'T' + grouped_df['InvoiceNo'].astype(str)

In [8]:
grouped_df

      InvoiceNo                                        Description
0       T536365  [WHITE HANGING HEART T-LIGHT HOLDER, WHITE MET...
1       T536366  [HAND WARMER UNION JACK, HAND WARMER RED POLKA...
2       T536367  [ASSORTED COLOUR BIRD ORNAMENT, POPPY'S PLAYHO...
3       T536368  [JAM MAKING SET WITH JARS, RED COAT RACK PARIS...
4       T536369                         [BATH BUILDING BLOCK WORD]
...         ...                                                ...
25895  TC581484                      [PAPER CRAFT , LITTLE BIRDIE]
25896  TC581490  [VICTORIAN GLASS HANGING T-LIGHT, ZINC T-LIGHT...
25897  TC581499                                           [Manual]
25898  TC581568                       [VICTORIAN SEWING BOX LARGE]
25899  TC581569  [HANGING HEART JAR T-LIGHT HOLDER, 36 PENCILS ...

[25900 rows x 2 columns]

In [9]:
# Convert all descriptions to strings
grouped_df['Description'] = grouped_df['Description'].apply(lambda x: [str(item) for item in x])

# Convert 'Description' to a list of lists
transactions = grouped_df['Description'].tolist()

In [10]:
# Use one-hot encoding
te = TransactionEncoder()
te_ary = te.fit(grouped_df['Description']).transform(grouped_df['Description'])
df_onehot = pd.DataFrame(te_ary, columns=te.columns_)
print(df_onehot.head())

    4 PURPLE FLOCK DINNER CANDLES   50'S CHRISTMAS GIFT BAG LARGE  \
0                           False                           False
1                           False                           False
2                           False                           False
3                           False                           False
4                           False                           False

    DOLLY GIRL BEAKER   I LOVE LONDON MINI BACKPACK  \
0               False                         False
1               False                         False
2               False                         False
3               False                         False
4               False                         False

    I LOVE LONDON MINI RUCKSACK   NINE DRAWER OFFICE TIDY  \
0                         False                     False
1                         False                     False
2                         False                     False
3                         False                     False
4                         False                     False

    OVAL WALL MIRROR DIAMANTE    RED SPOT GIFT BAG LARGE  \
0                        False                     False
1                        False                     False
2                        False                     False
3                        False                     False
4                        False                     False

    SET 2 TEA TOWELS I LOVE LONDON    SPACEBOY BABY GIFT SET  ...  \
0                             False                    False  ...
1                             False                    False  ...
2                             False                    False  ...
3                             False                    False  ...
4                             False                    False  ...

   wrongly coded 20713  wrongly coded 23343  wrongly coded-23343  \
0                False                False                False
1                False                False                False
2                False                False                False
3                False                False                False
4                False                False                False

   wrongly marked  wrongly marked 23343  wrongly marked carton 22804  \
0           False                 False                        False
1           False                 False                        False
2           False                 False                        False
3           False                 False                        False
4           False                 False                        False

   wrongly marked. 23343 in box  wrongly sold (22719) barcode  \
0                         False                         False
1                         False                         False
2                         False                         False
3                         False                         False
4                         False                         False

   wrongly sold as sets  wrongly sold sets
0                 False              False
1                 False              False
2                 False              False
3                 False              False
4                 False              False

[5 rows x 4224 columns]

In [11]:
# Implementing Apriori algorithm
def run_apriori(df, min_support):
 frequent_itemsets = apriori(df, min_support=min_support,
use_colnames=True)
 return frequent_itemsets
# Implementing FP-Growth algorithm
def run_fpgrowth(transactions, min_support):
 patterns = pyfpgrowth.find_frequent_patterns(transactions,
min_support * len(transactions))
 return patterns
# Generate association rules
def generate_rules(frequent_itemsets, min_confidence):
 rules = association_rules(frequent_itemsets, metric="confidence",
min_threshold=min_confidence)
 return rules

In [12]:
# Example usage
min_support = 0.025
min_confidence = 0.7
# Using Apriori
frequent_itemsets_apriori = run_apriori(df_onehot, min_support)
rules_apriori = generate_rules(frequent_itemsets_apriori,min_confidence)
# Print results or perform further analysis
print("Apriori frequent itemsets:")
print(frequent_itemsets_apriori)
print("Apriori association rules:")
print(rules_apriori[['antecedents', 'consequents', 'confidence']])

Apriori frequent itemsets:
      support                                           itemsets
0    0.037104                           (6 RIBBONS RUSTIC CHARM)
1    0.032278                      (60 TEATIME FAIRY CAKE CASES)
2    0.038649                       (ALARM CLOCK BAKELIKE GREEN)
3    0.030849                        (ALARM CLOCK BAKELIKE PINK)
4    0.041737                        (ALARM CLOCK BAKELIKE RED )
..        ...                                                ...
114  0.030270  (ROSES REGENCY TEACUP AND SAUCER , GREEN REGEN...
115  0.032162  (JUMBO BAG RED RETROSPOT, JUMBO BAG PINK POLKA...
116  0.026371  (JUMBO BAG RED RETROSPOT, JUMBO SHOPPER VINTAG...
117  0.028301  (JUMBO STORAGE BAG SUKI, JUMBO BAG RED RETROSPOT)
118  0.025019  (LUNCH BAG  BLACK SKULL., LUNCH BAG RED RETROS...

[119 rows x 2 columns]
Apriori association rules:
                          antecedents                         consequents  \
0  (ROSES REGENCY TEACUP AND SAUCER )   (GREEN REGENCY TEACUP AND SAUCER)
1   (GREEN REGENCY TEACUP AND SAUCER)  (ROSES REGENCY TEACUP AND SAUCER )

   confidence
0    0.700000
1    0.741722

In [13]:
# Example usage
min_support = 0.025
min_confidence = 0.7
patterns_fpgrowth = run_fpgrowth(transactions, min_support)
rules_fpgrowth =pyfpgrowth.generate_association_rules(patterns_fpgrowth,min_confidence)
# Print results or perform further analysis
print("FP-Growth frequent itemsets:\n")
print(patterns_fpgrowth)
print("FP-Growth association rules:\n")
print(rules_fpgrowth)

FP-Growth frequent itemsets:

{('72 SWEETHEART FAIRY CAKE CASES',): 650, ('60 CAKE CASES VINTAGE CHRISTMAS',): 652, ('HOMEMADE JAM SCENTED CANDLES',): 655, ('RETROSPOT HEART HOT WATER BOTTLE',): 655, ('LOVE BUILDING BLOCK WORD',): 656, ('HOT WATER BOTTLE TEA AND SYMPATHY',): 656, ('SMALL WHITE HEART OF WICKER',): 657, ('SET OF 60 PANTRY DESIGN CAKE CASES ',): 659, ('JUMBO BAG OWLS',): 673, ('JUMBO BAG SCANDINAVIAN BLUE PAISLEY',): 675, ('RED  HARMONICA IN BOX ',): 676, ('PACK OF 72 SKULL CAKE CASES',): 678, ('CHILLI LIGHTS',): 679, ('HOT WATER BOTTLE I AM SO POORLY',): 679, ('HAND OVER THE CHOCOLATE   SIGN ',): 686, ('HAND WARMER OWL DESIGN',): 687, ('GINGERBREAD MAN COOKIE CUTTER',): 691, ('LUNCH BAG VINTAGE LEAF DESIGN',): 692, ('PLASTERS IN TIN SPACEBOY',): 697, ('WOOD BLACK BOARD ANT WHITE FINISH',): 698, ('SET OF 3 HEART COOKIE CUTTERS',): 700, ('JUMBO BAG SPACEBOY DESIGN',): 702, ('LUNCH BAG DOLLY GIRL DESIGN',): 706, ('SET OF 3 BUTTERFLY COOKIE CUTTERS',): 707, ('DOORMAT RED RETROSPOT',): 707, ('PACK OF 20 NAPKINS PANTRY DESIGN',): 709, ('DOTCOM POSTAGE',): 709, ('ANTIQUE SILVER T-LIGHT GLASS',): 719, ('JUMBO STORAGE BAG SKULLS',): 720, ('GUMBALL COAT RACK',): 728, ('PLASTERS IN TIN WOODLAND ANIMALS',): 729, ('JUMBO BAG VINTAGE DOILY ',): 737, ("JUMBO BAG 50'S CHRISTMAS ",): 739, ('IVORY KITCHEN SCALES',): 741, ('STRAWBERRY CHARLOTTE BAG',): 742, ('DOORMAT KEEP CALM AND COME IN',): 742, ('COOK WITH WINE METAL SIGN ',): 745, ('LUNCH BOX I LOVE LONDON',): 750, ('RECYCLING BAG RETROSPOT ',): 760, ('ROUND SNACK BOXES SET OF4 WOODLAND ',): 764, ('HANGING HEART JAR T-LIGHT HOLDER',): 767, ('STRAWBERRY CERAMIC TRINKET BOX',): 770, ('RED HANGING HEART T-LIGHT HOLDER',): 773, ('GIN + TONIC DIET METAL SIGN',): 775, ('CHARLOTTE BAG PINK POLKADOT',): 777, ('LUNCH BAG ALPHABET DESIGN',): 780, ('GARDENERS KNEELING PAD CUP OF TEA ',): 780, ('CLOTHES PEGS RETROSPOT PACK 24 ',): 792, ('SCOTTIE DOG HOT WATER BOTTLE',): 798, ('HOME BUILDING BLOCK WORD',): 806, ('ALARM CLOCK BAKELIKE PINK',): 810, ('PAPER BUNTING RETROSPOT',): 812, ('HOT WATER BOTTLE KEEP CALM',): 813, ('PINK REGENCY TEACUP AND SAUCER', 'ROSES REGENCY TEACUP AND SAUCER '): 693, ('GREEN REGENCY TEACUP AND SAUCER', 'PINK REGENCY TEACUP AND SAUCER', 'ROSES REGENCY TEACUP AND SAUCER '): 1315, ('GREEN REGENCY TEACUP AND SAUCER', 'PINK REGENCY TEACUP AND SAUCER'): 905, ('GREEN REGENCY TEACUP AND SAUCER', 'GREEN REGENCY TEACUP AND SAUCER', 'PINK REGENCY TEACUP AND SAUCER'): 1336, ('PAPER CHAIN KIT VINTAGE CHRISTMAS',): 850, ('JUMBO BAG STRAWBERRY',): 850, ('WOODLAND CHARLOTTE BAG',): 858, ('POPCORN HOLDER',): 865, ('SET OF 6 SPICE TINS PANTRY DESIGN',): 870, ('60 TEATIME FAIRY CAKE CASES',): 871, ('RED TOADSTOOL LED NIGHT LIGHT',): 874, ('PLEASE ONE PERSON METAL SIGN',): 875, ('JUMBO BAG WOODLAND ANIMALS',): 878, ('DOLLY GIRL LUNCH BOX',): 881, ('JUMBO BAG PINK VINTAGE PAISLEY',): 885, ('CHOCOLATE HOT WATER BOTTLE',): 889, ('JUMBO BAG VINTAGE LEAF',): 895, ('PACK OF 60 PINK PAISLEY CAKE CASES',): 896, ('CHARLOTTE BAG SUKI DESIGN',): 911, ('SET OF 3 REGENCY CAKE TINS',): 919, ('SPACEBOY LUNCH BOX ',): 924, ('JUMBO BAG ALPHABET',): 930, ('SET/5 RED RETROSPOT LID GLASS BOWLS',): 936, ('GARDENERS KNEELING PAD KEEP CALM ',): 937, ('VINTAGE SNAP CARDS',): 944, ('JUMBO  BAG BAROQUE BLACK WHITE',): 960, ('HEART OF WICKER LARGE',): 961, ('REX CASH+CARRY JUMBO SHOPPER',): 967, ('BAKING SET 9 PIECE RETROSPOT ',): 974, ('6 RIBBONS RUSTIC CHARM',): 986, ('RETROSPOT TEA SET CERAMIC 11 PC ',): 988, ('WOODEN FRAME ANTIQUE WHITE ',): 999, ('JUMBO BAG APPLES',): 1009, ('SET/20 RED RETROSPOT PAPER NAPKINS ',): 1015, ('ALARM CLOCK BAKELIKE GREEN',): 1024, ('ALARM CLOCK BAKELIKE GREEN', 'ALARM CLOCK BAKELIKE RED '): 711, ('RABBIT NIGHT LIGHT',): 1051, ('LUNCH BAG WOODLAND',): 1061, ('RED RETROSPOT CHARLOTTE BAG',): 1068, ('VICTORIAN GLASS HANGING T-LIGHT',): 1072, ('LUNCH BAG APPLE DESIGN',): 1084, ('GREEN REGENCY TEACUP AND SAUCER',): 1085, ('GREEN REGENCY TEACUP AND SAUCER', 'ROSES REGENCY TEACUP AND SAUCER '): 861, ('ALARM CLOCK BAKELIKE RED ',): 1107, ('SET OF 4 PANTRY JELLY MOULDS',): 1111, ('WOODEN PICTURE FRAME WHITE FINISH',): 1129, ('LUNCH BAG PINK POLKADOT',): 1137, ('LUNCH BAG PINK POLKADOT', 'LUNCH BAG RED RETROSPOT'): 654, ('ROSES REGENCY TEACUP AND SAUCER ',): 1138, ('LUNCH BAG SUKI DESIGN ',): 1139, ('SPOTTY BUNTING',): 1172, ('RECIPE BOX PANTRY YELLOW DESIGN',): 1180, ('JAM MAKING SET PRINTED',): 1182, ('LUNCH BAG SPACEBOY DESIGN ',): 1192, ('LUNCH BAG CARS BLUE',): 1197, ('JUMBO SHOPPER VINTAGE RED PAISLEY',): 1202, ('JUMBO BAG RED RETROSPOT', 'JUMBO SHOPPER VINTAGE RED PAISLEY'): 697, ("PAPER CHAIN KIT 50'S CHRISTMAS ",): 1210, ('JUMBO STORAGE BAG SUKI',): 1214, ('JUMBO BAG RED RETROSPOT', 'JUMBO STORAGE BAG SUKI'): 756, ('JAM MAKING SET WITH JARS',): 1229, ('HEART OF WICKER SMALL',): 1237, ('JUMBO BAG PINK POLKADOT',): 1251, ('JUMBO BAG PINK POLKADOT', 'JUMBO BAG RED RETROSPOT'): 871, ('POSTAGE',): 1252, ('NATURAL SLATE HEART CHALKBOARD ',): 1280, ('LUNCH BAG  BLACK SKULL.',): 1350, ('LUNCH BAG  BLACK SKULL.', 'LUNCH BAG RED RETROSPOT'): 705, ('PACK OF 72 RETROSPOT CAKE CASES',): 1385, ('nan',): 1454, ('SET OF 3 CAKE TINS PANTRY DESIGN ',): 1473, ('ASSORTED COLOUR BIRD ORNAMENT',): 1501, ('LUNCH BAG RED RETROSPOT',): 1638, ('PARTY BUNTING',): 1727, ('JUMBO BAG RED RETROSPOT',): 2159, ('REGENCY CAKESTAND 3 TIER',): 2200, ('WHITE HANGING HEART T-LIGHT HOLDER',): 2369}
FP-Growth association rules:

{('GREEN REGENCY TEACUP AND SAUCER',): (('ROSES REGENCY TEACUP AND SAUCER ',), 0.7935483870967742), ('ROSES REGENCY TEACUP AND SAUCER ',): (('GREEN REGENCY TEACUP AND SAUCER',), 0.7565905096660809), ('GREEN REGENCY TEACUP AND SAUCER', 'PINK REGENCY TEACUP AND SAUCER'): ((), 1.4762430939226519), ('GREEN REGENCY TEACUP AND SAUCER', 'ROSES REGENCY TEACUP AND SAUCER '): (('PINK REGENCY TEACUP AND SAUCER',), 1.5272938443670152), ('PINK REGENCY TEACUP AND SAUCER', 'ROSES REGENCY TEACUP AND SAUCER '): (('GREEN REGENCY TEACUP AND SAUCER',), 1.8975468975468976)}

In [14]:
len(rules_fpgrowth)

5